# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
*.tmp

# IDE/editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db